@use "sass:map";
$couleurprincipale:#21b2a6;
$couleursecondaire:("r":43,"g":52,"b":61);
$couleurtertiaire:#505393;
$icone1:#00ffcc;
$icone2:#00f0ff;
$icone3:#76ddff;

.couleur-prim{
    background-color:$couleurprincipale; 
}
.couleur-sec-teinte-claire{
    background-color: rgb(map.get($couleursecondaire,"r")+4,map.get($couleursecondaire,"g")+4,map.get($couleursecondaire,"b")+4);
}
.couleur-sec{
    background-color: rgb(map.get($couleursecondaire,"r"),map.get($couleursecondaire,"g"),map.get($couleursecondaire,"b"));
}
.couleur-sec-teinte-interm{
    background-color: rgb(map.get($couleursecondaire,"r")-4,map.get($couleursecondaire,"g")-4,map.get($couleursecondaire,"b")-4);
}
.couleur-sec-teinte-plus{
    background-color: rgb(map.get($couleursecondaire,"r")-8,map.get($couleursecondaire,"g")-8,map.get($couleursecondaire,"b")-8);
}
.couleur-tert{
    background-color: $couleurtertiaire;
}
.couleur-icone-1{
    color: $icone1;
}
.couleur-icone-2{
    color: $icone2;
}
.couleur-icone-3{
    color: $icone3;
    rotate: -45deg;
    font-size: 2.35em;
    padding-top: 20%;
    padding-left: 0%;
}

body{
    text-size-adjust: unset;
    height: auto;
    margin: 0;
    font-family: 'Open Sans', Helvetica,sans-serif;
    letter-spacing: 0.125em;
    color: #fff;
    background-color: rgb(map.get($couleursecondaire,"r"),map.get($couleursecondaire,"g"),map.get($couleursecondaire,"b"));;
}
.main{
    background-image: url("images/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navbar{
    z-index: 1;
}
.h-navbar{
    height: 63px;
}

.element-navbar{
    letter-spacing: 0.3em;
    font-size: 20px;
    margin: 20px 20px 0 20px;
    font-family: 'Oswald', Helvetica,sans-serif;
    z-index: 2;
}
.menu-lateral{
    width: 350px;
    z-index: 2;
}
.options-menu-lateral{
    border-top: solid 1px rgba(0, 0, 0, 0.125);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}
.liens-menu-lateral{
    color: inherit;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
}

.accueil{
    height: 100vh;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}


.contain-titre{

    margin: 20vh 0;
    flex-direction: column;
    justify-content: center;
    width:25%;
    height:60vh;
}
h1::before,h1::after{
    background: #fff;
    content: "";
    display: block;
    height: 2px;
    width: 100%;

}
h1{
    display: inline-block;
    padding: 5%;
    font-size: 3vw;
    letter-spacing:0.225em;
    line-height: 1.75em;
}
.presentation{
    letter-spacing:0.225em;
    font-weight: 400;
}
h2{
    letter-spacing: 0.125em;
    font-size: 1.225em;
}
h2::after{
    background: rgba(0, 0, 0, 0.125);
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
h3{
    font-size: 1.225em;
    letter-spacing: 0.225em;
}

.cadre-icone{
    rotate: 45deg;
    border: solid 2px rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    height: 3.5em;
    width: 3.5em;
    font-size: 2.3vw;

}

.icone{
    rotate: -45deg;
    font-size: 2.35em;
    padding: 20%;
}



.bouton{
    border: none;
    height: 4vw;
    width: 15vw;
    border-radius: 3px;
    background-color: #ed4933;
    color:white;
    font-weight: 600;
    letter-spacing:0.425em;
}
.bouton-learn-more{
    background-color: rgba(0,0,0,0);
    border: #fff 2px solid;
}
.tableau-escobar{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 10vw;
    height: 80%;
    padding: 0;
}
.element-tableau{
    width: 30%;
    height: 13%;
    padding: 10%;
    list-style: none;
}
.element-tableau:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.035);
}
.element-tableau:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.07);
}
.element-tableau:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.105);
}
.element-tableau:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.14);
}
.element-tableau:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.175);
}
.element-tableau:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.21);
}
.icone-tableau{
    color: $icone1;
}
.conclusion{
    padding: 10vh 0;
    background-color: rgba(0, 0, 0, 0.5);

}
footer{
    background-color: rgba(29, 36, 42, 0.9);
    color: rgba(255, 255, 255, 0.5);
}
.liens-externes{
    font-size: larger;
}
.credits{
    font-size: smaller;
}
@media screen and (max-width: 1000px) {
    body{
        font-size: 27px;
    }
    .element-navbar{
        font-size: 33px;
        margin: 32px 33px 0 33px
    }
    .h-navbar{
        height: 100px;
    }


    .contain-titre{
        width: 1000px;
        margin:  10vh 15%;

    }
    .presentation{
        font-size: 31px;
        letter-spacing: 00.225em;
    }
    .accueil{
        height: 50vh;
    }
    h1{
        font-size: 1.25em;
    }
    .titre-demonstration{
        width: 80%;
        margin-top: 0;
        font-size: 1.1em;
    }
    .div-demonstration{
        width: 100%;
        padding-bottom: 10%;
    }
    .section-demonstration{
        flex-direction: column;
        text-align: center;
    }

    .tableau-escobar{
        flex-direction: column;
        text-align: center;
    }
    .element-tableau{
        width: 80%;
        background-color: rgba(0, 0, 0, 0);
    }
    .element-tableau::after{
        background: rgba(0, 0, 0, 0.125);
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    
    }
    .element-tableau:nth-child(1) {
        background-color: rgba(0, 0, 0, 0);
    }
    .element-tableau:nth-child(2) {
        background-color: rgba(0, 0, 0, 0);
    }
    .element-tableau:nth-child(3) {
        background-color: rgba(0, 0, 0, 0);
    }
    .element-tableau:nth-child(4) {
        background-color: rgba(0, 0, 0, 0);
    }
    .element-tableau:nth-child(5) {
        background-color: rgba(0, 0, 0, 0);
    }
    .element-tableau:nth-child(6) {
        background-color: rgba(0, 0, 0, 0);
    }
    .contenu-conclusion{
        flex-direction: column;
    }
    .texte-conclusion{
        width: 100%;
        text-align: center;
    }
    .boutons-conclusion{
        width: 100%;
    }
    .bouton{
        width: 80%;
        height :5vh;
    }
    .bouton-conclusion{
        margin-left:10%;
    }
}